.icon {
  display: block;
  align-items: center;
  padding: 100px;

}

.fas {
  font-size: 10rem;
  margin: 40px;
  color: #7b6cd3;

}

.roll-btn {
  color: white;
  background-color: #000000;
  width: 14rem;
  font-size: 20px;
  padding: 1.5rem;
  margin-top: 50px;
  border-radius: 10px;
}

.roll-btn:hover {
  background-color: #7b6cd3;
  cursor: pointer;
}